<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <p class="lead mb-3">Welcome <%= name  %> </p>
            <a href="/users/logout" class="btn btn-secondary">Logout</a> 
        </div>
        <div class="col-md-8">
            <h1 class="mt-4">Dashboard</h1>
            <div class="row">
                <div class="embed-responsive embed-responsive-16by9" style="width: 100%; height: 60vh;">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allowfullscreen></iframe>
                  </div>
            </div>
        </div>
    </div>
</div>




